.breadcrumb
  %a{ :href => "/" } Home
  &gt;
  - if @page.parent
    %a{ :href => @page.parent.abspath }= @page.parent.heading
    &gt;
  = @page.heading

#sidebar
  = theme_partial 'categories'
  = theme_partial 'feed'

#content
  - if @page.date
    .date= format_date(@page.date)
  ~ @page.to_html

  - @page.pages.each do |page|
    = theme_partial 'summary', :locals => { :article => page, :heading => :h3 }

  - unless @page.articles.empty?
    %h2.articles= "Articles on #{@page.heading}"
  
  - @page.articles.each do |article|
    = theme_partial 'summary', :locals => { :article => article, :heading => :h3 }

  - unless @page.categories.empty?
    .categories
      Filed under
      - @page.categories.each do |category|
        %a{ :href => category.abspath }= category.heading

  = theme_partial 'social'
  = theme_partial 'feed', :locals => { :title => @site_title }
  = theme_partial 'comments'
